[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/sainuthalapati
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sainuthalapati
	label-Verified = -1..+1 group user/sainuthalapati
	push = group user/sainuthalapati
	read = group user/sainuthalapati
	rebase = group user/sainuthalapati
	removeReviewer = group user/sainuthalapati
	submit = group user/sainuthalapati
[access "refs/heads/*"]
	create = group user/sainuthalapati
	push = +force group user/sainuthalapati
	pushMerge = group user/sainuthalapati
	read = group user/sainuthalapati
[access "refs/tags/*"]
	push = group user/sainuthalapati
	push = +force group user/sainuthalapati
